/// Cards

/// Cards - Card Grid
.card-grid {
  --card-grid-gap: var(--size-v-300);

  display: flex;
  flex-wrap: wrap;
  gap: var(--card-grid-gap);
}

/// Cards - Card Element
.card {
  --card-width: min(100%, 17em);
  --card-padding: var(--size-v-400);
  --card-border-radius: var(--size-v-100);

  width: var(--card-width);
  padding-top: var(--card-padding);
  padding-right: var(--card-padding);
  padding-bottom: var(--card-padding);
  padding-left: var(--card-padding);
  border-radius: var(--card-border-radius);
}

a.card {
  --a-clr: var(--clr-gray-50);
  --a-td: none;
  --a-hover-clr: var(--clr-gray-50);
  --a-hover-td: none;

  overflow: hidden;
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    display: block;
    background-color: var(--clr-gray-50);
    opacity: 0.3;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transform-origin: top left;
    transition: all 0.3s ease-in-out;
  }

  &:hover::before {
    transform: scaleX(1);
  }
}
