/// Fonts

/// Fonts - Nunito
@font-face {
  font-family: "Nunito";
  src: url("./../assets/fonts/nunito/Nunito-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Nunito";
  src: url("./../assets/fonts/nunito/Nunito-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-style: italic;
}
