.primary-header {
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding-left: var(--size-v-400);
  padding-right: var(--size-v-400);
  margin-bottom: var(--size-v-400);
  border-bottom: thin solid var(--clr-primary-500);

  &__search {
    color: var(--clr-primary-500);
    font-size: var(--fz-lg);
    background-color: transparent;
    border: none;
    border-radius: 0;
    min-width: 6.25rem;
  }
}
