/// Maps

/// Palatte
$palatte: (
  "gray-100": (
    "hex": #f2f2f2,
    "rgb": rgb(242, 242, 242),
    "hsl": hsl(0, 0%, 95%),
  ),
  "gray-600": (
    "hex": #707070,
    "rgb": rgb(112, 112, 112),
    "hsl": hsl(0, 0%, 44%),
  ),
  "gray-700": (
    "hex": #404040,
    "rgb": rgb(64, 64, 64),
    "hsl": hsl(0, 0%, 25%),
  ),
  "primary-300": (
    "hex": #d4f266,
    "rgb": rgb(212, 242, 102),
    "hsl": hsl(73, 84%, 67%),
  ),
  "primary-400": (
    "hex": #a7bf4e,
    "rgb": rgb(167, 191, 79),
    "hsl": hsl(73, 47%, 53%),
  ),
);

/// Colors
$colors: (
  "primary": (
    "50": hsl(73, 88%, 99%),
    "100": hsl(73, 86%, 96%),
    "200": hsl(73, 86%, 93%),
    "300": hsl(73, 84%, 88%),
    // Primary Light
    "400": hsl(73, 84%, 67%),
    // Primary
    "500": hsl(73, 47%, 53%),
    "600": hsl(73, 47%, 46%),
    "700": hsl(73, 45%, 39%),
    "800": hsl(73, 45%, 26%),
    "900": hsl(73, 43%, 10%),
  ),
  "gray": (
    // White
    "50": hsl(0, 0%, 100%),
    // Text
    "100": hsl(0, 0%, 95%),
    "200": hsl(0, 0%, 93%),
    "300": hsl(0, 0%, 87%),
    "400": hsl(0, 0%, 80%),
    "500": hsl(0, 0%, 60%),
    // Card Background
    "600": hsl(0, 0%, 44%),
    // Background
    "700": hsl(0, 0%, 38%),
    "800": hsl(0, 0%, 26%),
    // Black
    "900": hsl(0, 0%, 0%),
  ),
);

/// Fonts
/// Fonts - Font Families
$font-families: (
  "primary": #{"Nunito",
  Arial,
  sans-serif},
);

/// Fonts - Font Sizes
$font-sizes: (
  "base": 16px,
  // 14px / 16px
  "sm": css-clamp("0.875rem, 1rem + 2vw, 1rem"),
  // 16px / 20px
  "md": css-clamp("1rem, 1rem + 2vw, 1.25rem"),
  // 24px / 40px
  "lg": css-clamp("1.5rem, 1rem + 2vw, 2.5rem"),
  // 40px / 60px
  "xl": css-clamp("2.5rem, 1rem + 3vw, 3.75rem"),
);

/// Fonts - Font Weights
$font-weights: (
  "100": 100,
  "thin": 100,
  "200": 200,
  "extra-light": 200,
  "300": 300,
  "light": 300,
  "400": 400,
  "regular": 400,
  "500": 500,
  "medium": 500,
  "600": 600,
  "semibold": 600,
  "700": 700,
  "bold": 700,
  "800": 800,
  "extrabold": 800,
  "900": 900,
  "black": 900,
);

/// Fonts - Font Styles
$font-styles: (
  "normal": normal,
  "italic": italic,
  "oblique": italic,
);

/// Text
/// Text - Text Decorations
$text-decorations: (
  "none": none,
  "underline": underline,
);

/// Text - Text Alignments
$text-aligns: (
  "left": left,
  "center": center,
  "right": right,
);

/// Text - Text Transforms
$text-transforms: (
  "none": none,
  "uppercase": uppercase,
  "lowercase": lowercase,
  "capitalize": capitalize,
);

/// Breakpoints
$breakpoints: (
  "xs": 0,
  "sm": 578px,
  "md": 768px,
  "lg": 844px,
  "xl": 992px,
  "xxl": 1200px,
  "xxxl": 1400px,
);

/// Spacers
/// Spacers - Direction
$spacer-directions: (
  "all": "all",
  "block": "block",
  "inline": "inline",
  "x": "x",
  "y": "y",
  "top": "t",
  "right": "r",
  "bottom": "b",
  "left": "l",
);

/// Spacers - Fixed Spacer
$fixed-unit: 1rem;
$fixed-spacers: (
  "0": $fixed-unit * 0,
  "100": $fixed-unit * 0.1,
  "200": $fixed-unit * 0.25,
  "300": $fixed-unit * 0.5,
  "400": $fixed-unit * 1,
  "500": $fixed-unit * 2,
  "600": $fixed-unit * 5,
  "700": $fixed-unit * 8,
  "800": $fixed-unit * 12,
  "900": $fixed-unit * 15,
  "1000": $fixed-unit * 18,
  "auto": auto,
);

/// Spacers - Variable Spacer
$variable-unit: 1em;
$variable-spacers: (
  "0": $variable-unit * 0,
  "100": $variable-unit * 0.1,
  "200": $variable-unit * 0.25,
  "300": $variable-unit * 0.5,
  "400": $variable-unit * 1,
  "500": $variable-unit * 2,
  "600": $variable-unit * 5,
  "700": $variable-unit * 8,
  "800": $variable-unit * 12,
  "900": $variable-unit * 15,
  "1000": $variable-unit * 18,
  "auto": auto,
);

/// Displays
$displays: (
  "none": none,
  "inline": inline,
  "block": block,
  "inline-block": inline-block,
  "flex": flex,
  "inline-flex": inline-flex,
  "grid": grid,
  "inline-grid": inline-grid,
);

/// Flex/Grid
/// Flex/Grid - Align Items
$grid-flex-align-items: (
  "inital": inital,
  "inherit": inherit,
  "normal": normal,
  "start": start,
  "center": center,
  "end": end,
  "stretch": stretch,
  "baseline": baseline,
  "flex-start": flex-start,
  "flex-end": flex-end,
);

/// Flex/Grid - Justify Contents
$flex-justify-contents: (
  "inital": inital,
  "inherit": inherit,
  "center": center,
  "space-between": space-between,
  "space-around": space-around,
  "space-evenly": space-evenly,
  "flex-start": flex-start,
  "flex-end": flex-end,
);

/// Flex/Grid - Justify Items
$grid-justify-items: (
  "inital": inital,
  "inherit": inherit,
  "legacy": legacy,
  "normal": normal,
  "stretch": stretch,
  "start": start,
  "left": left,
  "center": center,
  "right": right,
  "end": end,
  "overflow-alignment": overflow-alignment,
  "baseline-alignment": baseline-alignment,
);

/// Flex/Grid - Flex Wraps
$flex-wraps: (
  "nowrap": nowrap,
  "wrap": wrap,
  "reverse": wrap-reverse,
);

/// Box Shadows
/// Box Shadows - Directions
$box-shadow-directions: (
  "top": "t",
  "top-right": "tr",
  "right": "r",
  "bottom-right": "br",
  "bottom": "b",
  "bottom-left": "bl",
  "left": "l",
  "top-left": "tl",
);

/// Box Shadows - Fixed Weights
$box-shadow-f-weights: (
  "50": 0.01rem,
  "100": 0.03rem,
  "200": 0.05rem,
  "300": 0.1rem,
  "400": 0.15rem,
  "500": 0.2rem,
  "600": 0.25rem,
  "700": 0.5rem,
  "800": 0.75rem,
  "900": 1rem,
);

/// Box Shadows - Variable Weights
$box-shadow-v-weights: (
  "50": 0.01em,
  "100": 0.03em,
  "200": 0.05em,
  "300": 0.1em,
  "400": 0.15em,
  "500": 0.2em,
  "600": 0.25em,
  "700": 0.5em,
  "800": 0.75em,
  "900": 1em,
);

/// Border Radius
/// Border Radius - Directions
$border-radius-directions: (
  "all": "all",
  "top": "t",
  "top-right": "tr",
  "right": "r",
  "bottom-right": "br",
  "bottom": "b",
  "bottom-left": "bl",
  "left": "l",
  "top-left": "tl",
);

/// Border
/// Border - Directions
$border-directions: (
  "all": "all",
  "x": "x",
  "y": "y",
  "top": "t",
  "right": "r",
  "bottom": "b",
  "left": "l",
);

/// Border - Styles
$border-styles: (
  "none": none,
  "hidden": hidden,
  "dotted": dotted,
  "dashed": dashed,
  "solid": solid,
  "double": double,
  "groove": groove,
  "ridge": ridge,
  "inset": inset,
  "outset": outset,
);

/// Border - Fixed Weights
$border-f-weights: (
  "50": 0.01rem,
  "100": 0.03rem,
  "200": 0.05rem,
  "300": 0.1rem,
  "400": 0.15rem,
  "500": 0.2rem,
  "600": 0.25rem,
  "700": 0.5rem,
  "800": 0.75rem,
  "900": 1rem,
);

/// Border - Variable Weights
$border-v-weights: (
  "50": 0.01em,
  "100": 0.03em,
  "200": 0.05em,
  "300": 0.1em,
  "400": 0.15em,
  "500": 0.2em,
  "600": 0.25em,
  "700": 0.5em,
  "800": 0.75em,
  "900": 1em,
);
